#container{
    height: 90%;
    width: 80%;
    margin: auto;
    background-color: rgb(245, 245, 98);
}  

#heading{
    color: blue;
    text-align: center;
    font-size: 70px;
}

.time{
    font-size: 30px;
    text-align: center;
}

.answer{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.answer:hover{
    background-color: lightskyblue;
    border: 2px solid black;
}

.gif{
    margin: auto;
    margin-bottom: 30px;
    display: block;
}

.redo{
    width: 50%;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.redo:hover{
    background-color: lightskyblue;
    border: 2px solid black;
}

body{
    background-image: url(../images/film.jpg);
}